@font-face {
    font-family: InterB;
    src: url(/css/fonts/Inter/Inter-Bold.ttf);
}

@font-face {
    font-family: InterM;
    src: url(/css/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: InterL;
    src: url(/css/fonts/Inter/Inter-Light.ttf);
}

@font-face {
    font-family: InterR;
    src: url(/css/fonts/Inter/Inter-Regular.ttf);
}